:root {
    --background-primary: #111;
    --background-secondary: #203030;
    --background-tertiary: #283838;
    --primary-gray: #999;
    --accent-1: rgb(22, 238, 166);
}

/* General Reset (I like things my way) */
* {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-primary);
    color: var(--primary-gray);
}

body {
 display: grid;
 grid-template: 20% 70% 10%/ 1fr 1fr 1fr;
 height: 100vh;
}

header {
    background-color: var(--background-tertiary);
    grid-row: 1;
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


header h1 {
    margin: 3rem;
    background-color: var(--background-tertiary);
}

header nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--background-secondary);
    height: 3rem;
    transition: height 300ms ease; 
}

header nav a {
    display: none;
    background-color: var(--background-secondary);
    padding: 1rem;
    text-decoration: none;
    font-size: large; 
}

header nav:hover {
    height: 5rem;
}

header nav:hover a {
    display: block;
}

.linkContainer i, .linkContainer a {
    transition: 300ms;
}

.linkContainer:hover i, .linkContainer:hover a {
    color: var(--accent-1);
}

.linkContainer {
    background-color: var(--background-secondary);
    padding: 1rem;
    width: 10rem;
    font-size: large;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h2, h3 {
    margin: 3rem;
}

.fa-solid {
    color: var(--primary-gray);
    background-color: var(--background-secondary);
}

main {
    grid-row: 2;
    grid-column: 1 / span 2;
    background-color: var(--background-primary);
}

aside {
    grid-row: 2;
    grid-column: 3;
    background-color: #222;
}

aside h2 {
    background-color: #222;
}

footer {
    grid-row: 3;
    grid-column: 1 / span 3;
    background-color: var(--background-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    background-color: var(--background-tertiary);
    margin: 0;
}