:root {
    --background-primary: #ddd;
    --background-secondary: #bbb;
    --background-accent-1: #111;
    --background-accent-2: #222;
    --color-primary: #000;
    --color-secondary: #aaa;
    --accent-color-1: #3bb;
    --accent-color-2: #a92af3;
}

* {
    font-family: "Ubuntu Mono", monospace;
    background-color: var(--background-primary);
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

header {
    background-color: var(--background-accent-2);
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

header h1 {
    background-color: var(--background-accent-2);
    color: var(--color-secondary);
    padding-bottom: 1rem;
}

nav {
    width: 100%;
    background-color: var(--background-accent-1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--color-secondary);
    background-color: var(--background-accent-1);
    font-size: larger;
    padding: 0.5rem;
    transition: 300ms ease;
}

nav:hover a {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav a:hover {
    color: var(--accent-color-2);
}

main {
    width: 90%;
    max-width: 90%;
    height: 70vh;
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    gap: 1rem;
}

.card h2 {
    background-color: var(--background-accent-2);
    color: var(--color-secondary);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 3rem;
    text-align: center;
    padding-top: 1rem;
}

.card {
    background-color: var(--background-secondary);
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card1 {
    grid-column: 1;
}

#card2 {
    grid-column: 2;
}

#card2 ul {
    background-color: var(--background-secondary);
    flex: auto;
    margin: 10%;
}

#card2 li {
    margin: 2rem;
    font-size: larger;
    background-color: var(--background-secondary);
}

#card2 a {
    text-decoration: none;
    color: var(--color-primary);
    background-color: var(--background-secondary);
    font-size: larger;
    transition: 300ms ease;
}

#card2 a:hover {
    font-size: x-large;
}

.aboutMeContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--background-secondary);
}

.aboutMeContainer img {
    grid-column: 2;
    width: 90%;
    padding: 5%;
    background-color: var(--background-secondary);
    border-radius: 10px;
}

.aboutMeContainer p {
    background-color: var(--background-secondary);
    padding: 5%;
    font-size: large;
}

.aboutMyCountry {
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    flex: auto;
}

.aboutMyCountry h3, .aboutMyCountry p {
    background-color: var(--background-secondary);
    padding: 2rem;
    font-size: larger;
}

.foodtext {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--background-secondary);
}

.foodtext img {
    width: 90%;
    background-color: var(--background-secondary);
    padding: 5%;
}

footer {
    background-color: var(--background-accent-2);
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer p, #currentyear, #lastmodified {
    font-size: large;
    background-color: var(--background-accent-2);
    color: var(--color-secondary);
}