@media screen and (min-width: 960px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5vh;
    }

    nav {
        flex-direction: row;
        width: 50%;
        background-color: #222;
    }

    nav a {
        display: block;
        padding: 1rem 2rem;
    }

    #openButton {
        display: none;
    }

    main {
        width: 80%;
        height: 80vh;
    }

    .image-container {
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        height: 5vh;
    }
}